@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* 메인 컨테이너에 대한 스타일 */
.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
/* 로고에 대한 스타일 */
.Logo {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 30px;
    left: 5%;
}
/* 구름 배경에 대한 스타일 */
.background {
    position: absolute;
    top: 28%;
    width: 100vw;
    height: 650px; /* Adjust based on your actual image height */
    background-image: url("../img/bg.svg");
    background-size: contain; /* or background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
  }
.text1{
/* 내가 먹는 약, 안전할까? */

position: absolute;
width: 510px;
height: 66px;
left: 360px;
top: 170px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 66px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;


}
.text2{
    /* 한 눈에 보는 약 정보 */
position: absolute;
width: 440px;
height: 66px;
left: 360px;
top: 230px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 66px;
/* identical to box height */
display: flex;
align-items: center;
color: #FFFFFF;
}
.Allergenie_Text{
    /* Allergenie */

position: absolute;
width: 384px;
height: 95px;
left: 360px;
top: 370px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 95px;
display: flex;
align-items: center;

color: #FFFFFF;


}
.text-info{

position: absolute;
width: 580px;
height: 85px;
left: 360px;
top: 460px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 12px;
display: flex;
align-items: center;
letter-spacing: -0.05em;

/* g 3 */
color: #DFDFDF;


}
.goorm1 {
    position: absolute;
    width: 310px; /* 원하는 너비로 조정 */
    height: 210px; /* 높이를 자동으로 조정하여 비율 유지 */
    left: -25px;
    top: 255px;
    background: url("../img/goorm1.svg") center center no-repeat;
    background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
    filter: drop-shadow(4px 4px 10px rgba(0, 9, 88, 0.2));;
    transform-origin: center center; /* 회전 중심을 가운데로 조정 */
}
.goormbig {
    /* 구름캐릭터_대지 1_대지 1 1 */
    position: absolute;
    width: 400px;
    height: 256px;
    left: 63.5%;
    top: 190px;
    
    /* Set background image and size */
    background: url("../img/goormbig.svg") center center / cover,
                url("../img/goormbig.svg") center center / cover,
                url("../img/goormbig.svg") center center / cover;
    
    filter: drop-shadow(4px 4px 20px rgba(0, 9, 88, 0.2));
}
.goormsmallneighbor{
    /* 구룸 일러스트_대지 1 1 */

position: absolute;
width: 180px;
height: 117px;
left: 80.5%;
top: 325px;

background: url("../img/goormsmallneighbor.svg");
filter: drop-shadow(4px 4px 10px rgba(0, 9, 88, 0.2));
background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
transform-origin: center center; /* 회전 중심을 가운데로 조정 */

}
.goormsmall{
    /* 구룸 일러스트_대지 1 3 */
position: absolute;
width: 150px;
height: 97px;
left: 280px;
top: 30px;
background: url("../img/goormsmall.svg");
filter: drop-shadow(0px 0px 20px rgba(0, 9, 88, 0.2));
background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
transform-origin: center center; /* 회전 중심을 가운데로 조정 */

}
.goormsmallmid{
    /* 구룸 일러스트_대지 1 2 */

position: absolute;
width: 214px;
height: 139px;
left: 850px;
top: 490px;

background: url("../img/goormmiddlesmall.svg");
filter: drop-shadow(4px 4px 10px rgba(0, 9, 88, 0.2));
background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
transform-origin: center center; /* 회전 중심을 가운데로 조정 */

}

/* 검색 컨테이너에 대한 스타일 */
.search {
    box-sizing: border-box;
    position: absolute;
    width: 550px;
    height: 40px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #AAB3FF;
    box-shadow: 0px 0px 10px rgba(170, 179, 255, 0.4);
    border-radius: 10px;
    z-index: 4;
}

/* 검색 바 입력에 대한 스타일 */
.searchbar {
    position: absolute;
    left: calc(50% - 215px);
    top: 17.5%;
    width: 490px;
    height: 40px;
    border-radius: 16px;
    border: none;
    background: transparent;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    outline: 0;
    z-index: 4;
}
.CompletionContainer{
/* Rectangle 51 */

box-sizing: border-box;

position: absolute;
width: 550px;
height: 198px;
left: 50%;
transform: translate(-50%, -50%);
top: 250px;

background: #FFFFFF;
/* main color */
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 10px rgba(170, 179, 255, 0.4);
border-radius: 16px;
z-index: 3;

}
.autocomplete-list {
    /* 항 히스타민제 */
    position: relative;
    width: 100%;
    height: 18px;
    top: 20px;
    left: -35px;
    margin-left: calc(50% - 240px);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 37px;
    align-items: center;
    list-style: none;

    /* g 2 */
    color: #878787;
    
    /* Allow content to overflow */
    overflow: visible;
}
.auto-lists{
    position: absolute;
    text-indent: 50px;
    width: 100%;
    height:100%;
}

.auto-lists :hover {
    background: #CBCBCB;
    color: #FFFFFF;
}

/* 의료 아이콘에 대한 스타일 */
.MedIcon {
    position: absolute;
    width: 29px;
    top: 18%;
    left: calc(50% - 265px);
    z-index: 4;
}

/* 검색바  선에 대한 스타일 */
.line {
    position: absolute;
    width: 27px;
    height: -30px;
    left: calc(50% - 240px);
    top: 20%;
    border: 0.5px solid #AAB3FF;
    transform: rotate(90deg);
    z-index: 4;
}

/* 검색 아이콘에 대한 스타일 */
.searchIcon {
    position: absolute;
    top: 18.5%;
    right: calc(50% - 257.5px);
    width: 22.5px;
    z-index: 4;
}


.medGuide{
    /* 지니가 알려주는 올바른 약 복용법 */

position: absolute;
width: 312px;
height: 29px;
left: 840px;
top: 930px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 29px;
/* identical to box height */
display: flex;
align-items: center;
text-align: right;

/* snb color 2 */
color: #000958;


}
.medGuideBox1{
    /* Group 439 */

position: absolute;
width: 680px;
height: 200px;
left: calc(50% - 680px/2 + 10px);
top: 1020px;

background: #D9D9D9;
border-radius: 16px;

}
.goormGuide{
    /* 구름2_대지 1 1 */

position: absolute;
width: 283px;
height: 190px;
left: 300px;
top: 930px;

background: url("../img/goormguide.svg");
filter: drop-shadow(4px 4px 10px rgba(0, 9, 88, 0.2));
background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
transform-origin: center center; /* 회전 중심을 가운데로 조정 */

}
.medGuideBox2{
/* Group 441 */

position: absolute;
width: 325px;
height: 150px;
left: calc(50% - 250px/2 - 200px);
top: 1250px;

background: #D9D9D9;
border-radius: 16px;


}
.medGuideBox3{
/* Group 440 */

position: absolute;
width: 325px;
height: 150px;
left: calc(50% - 400px/2 + 220px);
top: 1250px;

background: #D9D9D9;
border-radius: 16px;
}
.goormGuideFooter{
    /* 구룸 일러스트_대지 1 5 */

position: absolute;
width: 132px;
height: 86px;
left: 1024px;
top: 1370px;

background: url("../img/goormguidefooter.svg");
filter: drop-shadow(4px 4px 10px rgba(0, 9, 88, 0.2));
background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
transform-origin: center center; /* 회전 중심을 가운데로 조정 */

}
.MedKnowledge{
    /* 구름 상식 */

position: absolute;
width: 89px;
height: 29px;
left: 430px;
top: 1450px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 29px;
/* identical to box height */
display: flex;
align-items: center;

/* snb color 2 */
color: #000958;


}
.KnowledgeBox1{
    /* Group 442 */

position: absolute;
width: 160px;
height: 200px;
left: calc(50% - 194px/2 - 235px);
top: 1530px;
background: #D9D9D9;
border-radius: 16px;

}
.KnowledgeBox2{
    /* Group 445 */

position: absolute;
width: 160px;
height: 200px;
left: calc(50% - 194.63px/2 - 60px);
top: 1530px;
background: #D9D9D9;
border-radius: 16px;

}
.KnowledgeBox3{
    /* Group 444 */

position: absolute;
width: 160px;
height: 200px;
left: calc(50% - 194.63px/2 + 115px);
top: 1530px;

background: #D9D9D9;
border-radius: 16px;

}
.KnowledgeBox4{
    /* Group 446 */

position: absolute;
width: 160px;
height: 200px;
left: calc(50% - 194.63px/2 + 290px);
top: 1530px;
background: #D9D9D9;
border-radius: 16px;

}
.KnowledgeGoorm{
    /* 구룸 일러스트_대지 1 6 */

position: absolute;
width: 165px;
height: 120px;
left: calc(50% - 425px); 
top: 1730px;

background: url("../img/KnowledgeGoorm.svg");
filter: drop-shadow(4px 4px 10px rgba(0, 9, 88, 0.2));
background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
transform-origin: center center; /* 회전 중심을 가운데로 조정 */
}
.Footer{

position: absolute;
width: 100vw;
height: 80px;

/* sub color 1 */
background: #DBE3FF;
box-shadow: 0px 0px 10px rgba(170, 179, 255, 0.4);

}
.Footer_Text{
    /* 이용약관 | 개인정보처리방침 | 책임의 한계와 법적고지 | 회원정보 고객센터AllerGenie Copyright @ ALLERGENIE Corp. All Rights Reserved */

position: absolute;
width: 100vw;
height: 54px;
display: flex;
justify-content: center;
bottom: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

/* snb color 2 */
color: #000958;

}
.top-info{
    /* 상단 정보 */
    position: absolute;
    width: 333px;
    height: 45px;
    right: calc(50% - 650px);
    top: 40px;
}


.Profile_picture{
    /* 프로필 사진 */
    position: absolute;
    width: 45px;
    height: 45px;
    right: calc(50% - 360px);
    top: 40px;
}
.Profile_Avatar{
    /* 구름캐릭터_대지 1_대지 1 2 */

position: absolute;
width: 85px;
height: 85px;
right: calc(50% - 385px);
top: 32.5px;

background: url("../img/goormAvatar.svg");
filter: drop-shadow(4px 4px 20px rgba(0, 9, 88, 0.2));
background-size: contain; /* 이미지가 컨테이너에 맞도록 조정 */
transform-origin: center center; /* 회전 중심을 가운데로 조정 */

}
.Ellipse{
    /* Ellipse 35 */

box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
right: calc(50% - 360px);
top: 40px;
border-radius: 50%;

background: linear-gradient(180deg, #DFDFDF 0%, rgba(217, 217, 217, 0) 100%);
/* snb color 2 */
border: 2px solid #000958;

}
.greetings {
    position: absolute;
    width: 150px;
    height: 19px;
    right: calc(50% - 515px);
    top: 52px;
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  
    /* Added styles for ellipsis and preventing text wrapping */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .word2 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
  }

.my-page{
    /* 마이페이지 */

    position: absolute;
    width: 61px;
    height: 17px;
    right: calc(50% - 560px);
    top: 54px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.logout{

    /* 로그아웃 */

    position: absolute;
    width: 49px;
    height: 17px;
    right: calc(50% - 630px);
    top: 54px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.line-16{
    /* Line 16 */

    position: absolute;
    width: 20px;
    height: 0px;
    right: calc(50% - 500px);
    top: 62.5px;

    border: 0.5px solid #000000;
    transform: rotate(90deg);
}

.line-17{
    /* Line 17 */

    position: absolute;
    width: 20px;
    height: 0px;
    right: calc(50% - 580px);
    top: 62.5px;

    border: 0.5px solid #000000;
    transform: rotate(90deg);
}

/*검색페이지*/
.AllergicAdd{
    /* Rectangle 64 */

position: absolute;
width: 90px;
height: 25px;
left: calc(50% + 185px);
top: 225px;

/* snb color 2 */
background: #000958;
border-radius: 30px;

}
.AllergicAdd span{
    /* 알러지 등록 */

position: absolute;
width: 56px;
height: 23px;
left: calc(50% - 15.5px);
top: 0.5px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}
.plus-circle{
    /* plus-circle */
position: absolute;
width: 13px;
height: 13px;
left:calc(50% - 32.5px);
top:5.5px;
}
.AllergeContainer{
    /* Rectangle 51 */

box-sizing: border-box;

position: absolute;
width: 550px;
height: 200px;
left: calc(50% - 275px);
top: 270px;

background: #FFFFFF;
/* main color */
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 10px rgba(170, 179, 255, 0.4);
border-radius: 16px;

}
.MedTitle{
    /* 항 히스타민제 */

position: absolute;
width: 100px;
height: 15px;
left: calc(50% - 75px);
top: 30px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

/* snb color 2 */
color: #000958;


}
.MedIngredients{
    /* Rectangle 82 */

position: absolute;
width: 54px;
height: 15px;
left: calc(50% - 75px);
top: 55px;

/* main color */
background: #AAB3FF;
border-radius: 30px;

}
.MedIngredients span{
    /* 약의 성분 */

position: absolute;
width: 40.5px;
height: 7.2px;
left: calc(50% - 15px);
top: 5px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 10px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}
.MedIngredientsInfo{
    /* 세포증식, 분화와 혈구 생성, 염증반응, 조직 재생과 신경전달 등에 관여하는 단백질 */

position: absolute;
width: 325px;
height: 19px;
left: calc(50% - 25px);
top: 20px;

font-family: 'Pretendard';
font-style: normal;
font-weight:500;
font-size: 9.75px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;

color: #000000;


}
.MedEfficacy{
    /* Rectangle 82 */

position: absolute;
width: 54px;
height: 15px;
left: calc(50% - 75px);
top: 110px;


/* main color */
background: #AAB3FF;
border-radius: 30px;

}
.MedEfficacy span{
    /* 효능 및 효과 */

position: absolute;
width: 40.5px;
height: 7.2px;
left: calc(50% - 19px);
top: 5px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 10px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}
.MedEfficacyInfo{
    /* 항히스타민제는 두드러기, 발적, 소양감 등의 알레르기성 반응에 관여하는 히스타민의 작용을 억제하는 약물이다. 알레르기성 질환 외에도 콧물, 재채기, 불면, 어지럼증, 구토 멀미 등을 완화하는데 사용된다. */

position: absolute;
width: 325px;
height: 19px;
left: calc(50% - 25px);
top: 35px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 9.75px;
line-height: 15px;
/* or 143% */
display: flex;
align-items: center;

color: #000000;


}
.MedImageContainer{
    /* Rectangle 81 */

box-sizing: border-box;

position: absolute;
width: 150px;
height: 150px;
left: calc(50% - 250px);

top: 23px;

background: #FFFFFF;
/* g 3 */
border: 1px solid #DFDFDF;
box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.2);
border-radius: 16px;

}
.MedImageContainer img{
    position: absolute;
    width: 90%;
    top: 25%;
    margin-left: 5%;
}
.RelationMedContainer{
    /* Rectangle 53 */

box-sizing: border-box;

position: absolute;
width: 550px;
left: calc(50% - 275px);
height: 230px;
top: 500px;
display: flex;
background: #FFFFFF;
/* main color */
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 10px rgba(170, 179, 255, 0.4);
border-radius: 16px;

}
.RelationMedInfo{
    /* 관련 약 정보 */

position: absolute;
width: 115px;
height: 15px;
left: calc(50% - 255px);
top: 15px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

/* snb color 2 */
color: #000958;


}
.RelationMedImgContainer{
    /* Rectangle 81 */

box-sizing: border-box;
width: 140px;
height: 105px;
left: calc(50% - 250px);
margin-top: 60px;
margin-left: 15px;
margin-right: 15px;
background: #FFFFFF;
/* g 3 */
border: 1px solid #DFDFDF;
box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.2);
border-radius: 16px;
 
}
.RelationImg{
    margin-left: 2.5px;
    margin-top: 10px;
    width: 100px;
    height: 80px;
}
.RelationMedTitle{
    /* Rectangle 82 */

width: 48px;
height: 16px;
margin-left: 27.5px;
margin-top: 20px;
/* main color */
background: #AAB3FF;
border-radius: 30px;
}
.RelationMedTitle span{
    /* 지르텍 */
justify-content: center;
height: 100%;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 10px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}

.LoginPage-goorm1{ /* login 큰 구름 */
position: absolute;
top: 10%;
left: calc(50% + 150px);
}

.LoginPage-goorm2{ /* login 작은 구름 */
position: absolute;
top: calc(10% + 550px);
right: calc(50% + 250px);
}

.LoginPage-nav { /* login 내비게이션 */
position: absolute;
top: 42px;
right: 70px;
    
font-family: 'Pretendard';
font-size: 14px;
font-weight: 600;
word-spacing: 10px;
}
.LoginPage-nav span {
color: #878787;
font-weight: 800;
}

.LoginPage-main { 
flex-direction: column;
margin-top:212px;
display: flex;
justify-content: center;
align-items: center;
}

.loginBox{ /* login 박스 */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

width: 700px;
height: 530px;
border-radius: 16px;
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 25px 7px rgba(170, 179, 255, 0.30);
font-family: 'Pretendard';
}

.loginBox-title{ /* 로그인 */
margin-bottom: 46px;
color:  #000958;
font-size: 28px;
font-weight: 700;
}

.loginBox-contents{ /* 아이디, 비밀번호 */
margin-bottom: 8px;
color: #000958;
font-size: 16px;
font-weight: 600;
}

.login-tf{ /* login id input */
display: flex;
justify-items: center;
width: 460px;
height: 58px;
border-radius: 16px;
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);
}
.login-tf img{ 
width: 19px;
height: 19px;
padding: 20px 10px 20px 20px;
}

.login-tf input{ /* id, pw 입력부분 */
width: 355px;
border: none;
outline: none;
color: #000958;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 500;
}

.check{
margin-top: 9px;
display: flex;
}

.checkBox { /* 로그인 상태 체크박스 */
appearance: none;
width: 20px;
height: 20px;
border: none;
border-radius: 50%;
outline: none;
cursor: pointer;
background: url("../img/isCheckedFalse.svg") no-repeat center center;
}
.checkBox:checked {
background: url("../img/isCheckedTrue.svg") no-repeat center center;
}

.checkText{ /* 로그인 상태 유지 */
margin-top: 7px;
color:  #000958;
font-family: 'Pretendard';
font-size: 10px;
font-weight: 600;
line-height: normal;
}

.loginBtn{ 
margin-top: 62px;
width: 200px;
height: 50px;
border-radius: 16px;
background:#000958;
box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);

color: #FFF;
text-align: center;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

.goRegister{ /* 회원가입하러 가기 */
padding: 28px 0; 
color: #000;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 700;
}


.register-main{
flex-direction: column;
margin-top: 145px;
display: flex;
justify-content: center;
align-items: center;
}

.register-svg{
height: 925px;
}

.register-box{
position: absolute;
top: 274px;
width: 700px;
height: 680px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.register-title{
color:  #000958;
font-size: 28px;
font-weight: 700;
}

.register-tf{ 
margin-bottom: 34px;
display: flex;
justify-items: center;
width: 460px;
height: 58px;
border-radius: 16px;
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);
}

.register-tf input{
margin-left: 10px;
width: 355px;
border: none;
outline: none;
color: #000958;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 500;
}

.registerBtn{ 
margin-top: 30px;
width: 200px;
height: 50px;
border-radius: 16px;
background:#000958;
box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);

color: #FFF;
text-align: center;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

.welcome{
padding: 5px 0 25px;
color: #AAB3FF;
text-align: center;
font-family: 'Inter';
font-size: 14px;
font-weight: 600;
}

.goLogin{ /* 로그인하러 가기 */
margin-top: -37px;
color: #000;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 700;
}









