.LoginPage-goorm1{ /* login 큰 구름 */
   position: absolute;
   top: 10%;
   left: calc(50% + 150px);
}

.LoginPage-goorm2{ /* login 작은 구름 */
   position: absolute;
   top: calc(10% + 550px);
   right: calc(50% + 250px);
}

.LoginPage-nav { /* login 내비게이션 */
   position: absolute;
   top: 42px;
   right: 70px;
         
   font-family: 'Pretendard';
   font-size: 14px;
   font-weight: 600;
   word-spacing: 10px;
}
.LoginPage-nav span {
   color: #878787;
   font-weight: 800;
}

.LoginPage-main { 
   flex-direction: column;
   margin-top:212px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loginBox{ /* login 박스 */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   width: 700px;
   height: 530px;
   border-radius: 16px;
   border: 1px solid #AAB3FF;
   box-shadow: 0px 0px 25px 7px rgba(170, 179, 255, 0.30);
   font-family: 'Pretendard';
}

.loginBox-title{ /* 로그인 */
   margin-bottom: 46px;
   color:  #000958;
   font-size: 28px;
   font-weight: 700;
}

.loginBox-contents{ /* 아이디, 비밀번호 */
   margin-bottom: 8px;
   color: #000958;
   font-size: 16px;
   font-weight: 600;
}

.login-tf{ /* login id input */
   display: flex;
   justify-items: center;
   width: 460px;
   height: 58px;
   border-radius: 16px;
   border: 1px solid #AAB3FF;
   box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);
}
.login-tf img{ 
   width: 19px;
   height: 19px;
   padding: 20px 10px 20px 20px;
}

.login-tf input{ /* id, pw 입력부분 */
   width: 355px;
   border: none;
   outline: none;
   color: #000958;
   font-family: 'Pretendard';
   font-size: 16px;
   font-weight: 500;
}

.check{
   margin-top: 9px;
   display: flex;
}

.checkBox { /* 로그인 상태 체크박스 */
   appearance: none;
   width: 20px;
   height: 20px;
   border: none;
   border-radius: 50%;
   outline: none;
   cursor: pointer;
   background: url("../img/isCheckedFalse.svg") no-repeat center center;
}
.checkBox:checked {
   background: url("../img/isCheckedTrue.svg") no-repeat center center;
}

.checkText{ /* 로그인 상태 유지 */
   margin-top: 7px;
   color:  #000958;
   font-family: 'Pretendard';
   font-size: 10px;
   font-weight: 600;
   line-height: normal;
}

.loginBtn{ 
   margin-top: 62px;
   width: 200px;
   height: 50px;
   border-radius: 16px;
   background:#000958;
   box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);

   color: #FFF;
   text-align: center;
   font-family: 'Pretendard';
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
}

.goRegister{ /* 회원가입하러 가기 */
   padding: 28px 0; 
   color: #000;
   font-family: 'Pretendard';
   font-size: 16px;
   font-weight: 700;
}


.register-main{
   flex-direction: column;
   margin-top: 145px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.register-svg{
   height: 925px;
}

.register-box{
position: absolute;
top: 274px;
width: 700px;
height: 680px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.register-title{
color:  #000958;
font-size: 28px;
font-weight: 700;
}

.register-tf{ 
margin-bottom: 45px;
display: flex;
justify-items: center;
width: 460px;
height: 58px;
border-radius: 16px;
border: 1px solid #AAB3FF;
box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);
}

.register-tf input{
margin-left: 10px;
width: 355px;
border: none;
outline: none;
color: #000958;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 500;
}

.registerBtn{ 
margin-top: 30px;
width: 200px;
height: 50px;
border-radius: 16px;
background:#000958;
box-shadow: 0px 0px 10px 0px rgba(170, 179, 255, 0.40);

color: #FFF;
text-align: center;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

.welcome{
padding: 5px 0 25px;
color: #AAB3FF;
text-align: center;
font-family: 'Inter';
font-size: 14px;
font-weight: 600;
}

.goLogin{ /* 로그인하러 가기 */
margin-top: -37px;
color: #000;
font-family: 'Pretendard';
font-size: 16px;
font-weight: 700;
}

.validateMessage{
   position: relative;
   top: -2px;
   left: 5px;
   color: #000958;
   font-family: 'Pretendard';
   font-size: 10px;
   font-weight: 600;
}

.pw-message{
position:absolute;
top: 374px;
right:130px;
color: #878787;
font-family: 'Pretendard';
font-size: 10px;
font-weight: 600;
}

.pw-redMessage{
   position: relative;
   top: -2px;
   right: 142px;
   color: #FF6A6A;
   font-family: 'Pretendard';
   font-size: 11px;
   font-weight: 600;
}

.id-message{
position:absolute;
top: 240px;
right:130px;
color: #878787;
font-family: 'Pretendard';
font-size: 10px;
font-weight: 600;
}

.MyPage-main{
   position: relative;
   top: 73vh;
   display: flex;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* 부작용 */
.Mypage-se{
   width: 800px;
   min-height: 245px;
   border-radius: 16px;
   border: 1px solid #AAB3FF;
   background: #FFF;
   box-shadow: 0px 0px 25px 7px rgba(170, 179, 255, 0.30);
}

.Mypage-se-title{
   padding: 38px 0 29px 42px;
   color: #000958;
   font-family: 'Pretendard';
   font-size: 16px;
   font-weight: 800;
}
.Mypage-se-container {
   display: flex;
   justify-content: flex-start;
   padding: 0 58px;
   width: 804px;
}
.Mypage-se-content {
   width: 62px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.Mypage-se-content img{
   margin-bottom: 12px;
   width: 100%;
}
.Mypage-se-content-title{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 66px;
   height: 21px;
   border-radius: 30px;
   background: #000958;

   color: #FFF;
   text-align: center;
   font-family: 'Pretendard';
   font-size: 12px;
   font-weight: 800;
}

.Mypage-caution { /*부작용&주의사항*/
   position: relative;
   margin-top: 50px;
   margin-bottom: 50px;
   width: 800px;
   min-height: 245px;
   border-radius: 16px;
   border: 1px solid #AAB3FF;
   background: #FFF;
   box-shadow: 0px 0px 25px 7px rgba(170, 179, 255, 0.30);
 }
 
 .Mypage-caution-container { 
   width: 956px;
 }
 
 .Mypage-caution-img { /*약 성분 사진*/
   position: absolute;
   margin-top: -20px;
   margin-left: 42px;
   width: 140px;
   height: 140px;
   flex-shrink: 0;
   border-radius: 16px;
   border: 1px solid var(--g-3, #DFDFDF);
   background: #F6F6F6;
   box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.25) inset;
   cursor: pointer;
}
 
 .Mypage-caution-content { /*약 이름 + 주의사항 컨테이너*/
   width: 760px;
   margin-left: 210px;

 }
 
 .Mypage-caution-name { /*약 이름*/
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: -20px;
   width: 105.882px;
   height: 30px;
   border-radius: 30px;
   border: 2px solid #AAB3FF;
   background: #FFF;
   color: #000;
   text-align: center;
   font-family: 'Pretendard';
   font-size: 14px;
   font-weight: 600;
 }
 
 .Mypage-caution-about { /*주의사항*/
   margin-top: 16px;
   color: #000;
   font-family: 'Pretendard';
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 25px;
}

.Modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
   display: flex;
   align-items: center;
   justify-content: center;
 }

.Modal-box{
   position: relative;
   width: 800px;
   height: 420px;
   border-radius: 30px;
   border: 1px solid #AAB3FF;
   background: #FFF;
   box-shadow: 0px 0px 10px 5px #AAB3FF;
}

.Modal-close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 30px;
   cursor: pointer;
 }

 .Modal-medName {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 35px;
   margin-top: 33px;
   margin-left: 65px;
   border-radius: 30px;
   border: 2px solid #AAB3FF;
   background: #FFF;

   color:#000;
   text-align: center;  
   font-family: 'Pretendard';
   font-size: 14px;
   font-weight: 400;
 }
 
 .Modal-img {
   display: flex;
   margin-top: 23px;
   margin-left: 64px;
   width: 230px;
   height: 230px;

   border-radius: 16px;
   border: 1px solid #DFDFDF;
   background: #F6F6F6;
   box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.25) inset;

 }

 .Modal-pre{
   position: flex;
   font-family: 'Pretendard';
   font-size: 26px;
   font-weight: 400;
   margin-left: 350px;
   margin-top: -140px;
 }
